extends ../../layouts/default.pug

block main
   
   h1(class="mb-4") Profile
   
   if (accountAdmin.avatar)
      img(src=accountAdmin.avatar[0] width="150px" class="mb-3")
   
   if (accountAdmin.fullName)
      p Full name: <b>#{accountAdmin.fullName}</b>
   
   if (accountAdmin.email)
      p Email: <b>#{accountAdmin.email}</b>
   
   if (accountAdmin.phone)
      p Phone number: <b>#{accountAdmin.phone}</b>
   
   p 
      span Status: 
      - if (accountAdmin.status == "active")
         span(class="badge badge-success ml-2") Active
      - else
         span(class="badge badge-danger ml-2") Inactive
   
   - if (correspondRole.title)
      p Role: <b>#{correspondRole.title}</b>


   //- a(
   //-    href=`/${prefixAdmin}/profile/change-password`
   //-    class="btn btn-primary"
   //- ) Đổi mật khẩu