extends ../../layouts/default.pug

block main 

   button(
      class="btn btn-secondary mb-3"
      onclick="history.back()"
   ) Go back

   if (theProductData.title)
      h1(class="mb-4") #{theProductData.title}

   if (theProductData.price)
      div(class="mb-4") Price: <b>#{theProductData.price}$</b>

   if (theProductData.discountPercentage)
      div(class="mb-4") Sale off: <b>#{theProductData.discountPercentage}%</b>

   if (theProductData.stock)
      div(class="mb-4") Stock: <b>#{theProductData.stock}</b>

   if (theProductData.images.length > 0)
      div(class="mb-4")
         each image in theProductData.images
            img(
               src=image
               style="width: 100px"
            )

   if (theProductData.status)
      div(class="mb-4")
         span Status:
         if (theProductData.status === "active")
            span(class="badge badge-success ml-2") Active
         else
            span(class="badge badge-danger ml-2") Inactive

   if (theProductData.position)
      div(class="mb-4") Position: <b>#{theProductData.position}</b>

   if (theProductData.description)
      div(class="mb-4") !{theProductData.description}