extends ../../layouts/default.pug

include ../../mixins/box-head.pug

block main 
   .container.my-4 
      .row
         .col-12
            +box-head(pageTitle)

      .row
         .col-12
            div(class="alert alert-success")
               span(class="inner-icon mr-2" style="color: rgb(1, 173, 1);") <i class="fa-regular fa-circle-check"></i>
               | You ordered succeed. Your order will be processed as soon as possible
      
      - if(order)
         .row
            .col-12
               h4(class="mb-2") Recipient Information
               
               table(class="table table-bordered")
                  tbody
                     tr
                        td Full name
                        td
                           b #{order.customerInfo.fullName}
                     tr
                        td Phone number
                        td
                           b #{order.customerInfo.phone}
                     tr
                        td Address
                        td
                           b #{order.customerInfo.address}
         .row
            .col-12
               h4(class="mb-2") Order Information
               
               table(class="table table-bordered")
                  thead
                     tr
                        th No.
                        th Image
                        th Product Name
                        th Price
                        th Quantity
                        th Total
                  tbody
                     - if(order.products.length > 0)
                        each item, index in order.products
                           tr
                           td #{index + 1}
                           td
                              img(
                                 src=item.thumbnail
                                 alt=item.title
                                 width="80px"
                              )
                           td #{item.title}
                           td #{item.priceNew}$
                           td #{item.quantity}
                           td #{item.totalPrice}$

               - if(order.products.length > 0)
                  h3(class="text-right") Total Price: #{orderTotalPrice}$