extends ../../layouts/default.pug

block main 

   - if(correspondRole.permissions.includes("roles_view"))
      //- h1(class="mb-4") Trang Nhóm quyền

      h1(class="main-header mb-4")
         div(class="inner-title") Roles

         - if(correspondRole.permissions.includes("roles_delete"))
            //- button(
            //-    class="btn btn-primary" 
            //-    button-trash=`/${prefixAdmin}/roles/trash`
            //- ) Recently deleted
            button(
               class="btn btn-primary disabled"
               style="cursor: default;" 
            ) Recently deleted
         - else
            button(
               class="btn btn-primary disabled"
               style="cursor: default;" 
            ) Recently deleted

      .card.mb-3
         .card-header List
         .card-body 
            .row.align-items-center.mb-4
               .col-8
                  - if(correspondRole.permissions.includes("roles_delete"))
                     //- button(
                     //-    class="btn btn-secondary btn-sm element-hidden"
                     //-    button-delete-many-soft=`/${prefixAdmin}/roles/change-multi`
                     //-    value="deleteSoftManyItems"
                     //- ) Delete
                     button(
                        class="btn btn-secondary btn-sm disabled element-hidden"
                        style="cursor: default;" 
                     ) Delete
                     
               .col-4.text-right 
                  - if(correspondRole.permissions.includes("roles_create"))
                     a(
                        href=`/${prefixAdmin}/roles/create`
                        class="btn btn-outline-info"
                     ) + Create new role
                  - else 
                     button(
                        class="btn btn-secondary disabled"
                        style="cursor: default;"
                     ) + Create new role


            table(
               class="table table-hover table-sm"
            )
               thead
                  tr
                     - if(correspondRole.permissions.includes("roles_delete"))
                        th 
                           label(for="checkALL-box")
                              input(name="checkAll" id="checkALL-box" type="checkbox")
                     th No.
                     th Role Name
                     th Short description
                     th Actions
               tbody
                  if(listOfRoles.length > 0)
                     each aRole, index in listOfRoles
                        tr
                           - if(correspondRole.permissions.includes("roles_delete"))
                              td 
                                 label(for=`checkItem-${index+1}`)
                                    input(
                                       name="checkItem"
                                       id=`checkItem-${index+1}` 
                                       type="checkbox" 
                                       value=aRole.id
                                    )

                           td 
                              label(for=`checkItem-${index+1}`) #{index + 1}
                              
                           td #{aRole.title}
                           td #{aRole.description}
                           td
                              div(class="buttons")
                                 a(
                                    class="btn btn-secondary btn-sm"
                                    href=`/${prefixAdmin}/roles/detail/${aRole.id}`
                                 ) Detail

                                 - if(correspondRole.permissions.includes("roles_edit"))
                                    a(
                                       class="btn btn-warning btn-sm"
                                       href=`/${prefixAdmin}/roles/edit/${aRole.id}`
                                    ) Edit
                                 - else
                                    button(
                                       class="btn btn-warning btn-sm disabled"
                                       style="cursor: default;"
                                    ) Edit
                                 
                                 - if(correspondRole.permissions.includes("roles_delete"))
                                    //- button(
                                    //-    class="btn btn-danger btn-sm"
                                    //-    button-delete-soft=`/${prefixAdmin}/roles/delete/${aRole.id}`
                                    //- ) Delete
                                    button(
                                       class="btn btn-danger btn-sm disabled"
                                       style="cursor: default;"
                                    ) Delete
                                 - else
                                    button(
                                       class="btn btn-danger btn-sm disabled"
                                       style="cursor: default;"
                                    ) Delete
                  else
                     tr
                        td(colspan="5" class="text-center") No roles have been created yet.