extends ../../layouts/default.pug

block main 

   - if(correspondRole.permissions.includes("roles_permissions"))
      //- h1(class="mb-4") Trang phân quyền
      h1(class="mb-4") #{pageTitle}

      - const highestRoleId = "67057d0edc0456abcc23c61b";

      - if(records)
         div(class="text-right")
            - if(correspondRole.permissions.includes("roles_permissions"))
               button(
                  type="submit"
                  class="btn btn-primary mb-3"
                  button-submit=`/${prefixAdmin}/roles/permissions`
               ) Update

         table(
            class="table table-hover table-sm"
            table-permissions
         )
            thead
               tr
                  th Features
                  each eachRole in records
                     th(
                        class="text-center"
                        role-id=eachRole.id
                     ) #{eachRole.title}

            //- Product list
            tbody
               - 
                  const listProductPermissions = [
                     { label: "View", name: "products_view" },
                     { label: "Create", name: "products_create" },
                     { label: "Edit", name: "products_edit" },
                     { label: "Delete", name: "products_delete" }
                  ];

               tr
                  td(colspan="4")
                     b Products list
               
               //- tr
               //-    td Xem
               //-    each eachRole in records
               //-       td(class="text-center")
               //-          input(
               //-             type="checkbox"
               //-             permission-name="products_view" 
               //-             belongs-role-id=eachRole.id
               //-             checked=(eachRole.permissions.includes("products_view") ? true : false)
               //-          )
               each permission in listProductPermissions
                  tr
                     td #{permission.label}
                     each eachRole in records
                        td(class="text-center")
                           - if(correspondRole.permissions.includes("roles_permissions"))
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}` 
                                 belongs-role-id=eachRole.id
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=(eachRole.id == highestRoleId ? true : false)
                                 style=(eachRole.id == highestRoleId ? "cursor: default;" : "")
                              )
                           - else 
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}` 
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=true
                                 style="cursor: default;"
                              )

            //- Product categories list
            tbody 
               - 
                  const listProductCategoryPermissions = [
                     { label: "View", name: "product-categories_view" },
                     { label: "Create", name: "product-categories_create" },
                     { label: "Edit", name: "product-categories_edit" },
                     { label: "Delete", name: "product-categories_delete" }
                  ];

               tr
                  td(colspan="4")
                     b Product categories list
               
               each permission in listProductCategoryPermissions
                  tr
                     td #{permission.label}
                     each eachRole in records
                        td(class="text-center")
                           - if(correspondRole.permissions.includes("roles_permissions"))
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}`
                                 belongs-role-id=eachRole.id
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=(eachRole.id == highestRoleId ? true : false)
                                 style=(eachRole.id == highestRoleId ? "cursor: default;" : "")
                              )
                           - else
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}` 
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=true
                                 style="cursor: default;"
                              )

            //- Roles
            tbody
               - 
                  const listRolePermissions = [
                     { label: "View", name: "roles_view" },
                     { label: "Create", name: "roles_create" },
                     { label: "Edit", name: "roles_edit" },
                     { label: "Delete", name: "roles_delete" },
                     { label: "Authorize", name: "roles_permissions" }
                  ];

               tr
                  td(colspan="4")
                     b Roles

               each permission in listRolePermissions
                  tr
                     td #{permission.label}
                     each eachRole in records
                        td(class="text-center")
                           - if(correspondRole.permissions.includes("roles_permissions"))
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}` 
                                 belongs-role-id=eachRole.id
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=(eachRole.id == highestRoleId ? true : false)
                                 style=(eachRole.id == highestRoleId ? "cursor: default;" : "")
                              )
                           - else 
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}` 
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=true
                                 style="cursor: default;"
                              )

            //- Admin accounts
            tbody
               - 
                  const listAccountPermissions = [
                     { label: "View", name: "accounts_view" },
                     { label: "Create", name: "accounts_create" },
                     { label: "Edit", name: "accounts_edit" },
                     { label: "Delete", name: "accounts_delete" }
                  ];

               tr
                  td(colspan="4")
                     b Admin accounts

               each permission in listAccountPermissions
                  tr
                     td #{permission.label}
                     each eachRole in records
                        td(class="text-center")
                           - if(correspondRole.permissions.includes("roles_permissions"))
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}` 
                                 belongs-role-id=eachRole.id
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=(eachRole.id == highestRoleId ? true : false)
                                 style=(eachRole.id == highestRoleId ? "cursor: default;" : "")
                              )
                           - else 
                              input(
                                 type="checkbox"
                                 permission-name=`${permission.name}` 
                                 checked=(eachRole.permissions.includes(`${permission.name}`) ? true : false)
                                 disabled=true
                                 style="cursor: default;"
                              )