extends ../../layouts/default.pug

block main 
   h1 Dashboard

   .row.mt-4 
      .col-12 
         .card.mb-4 
            .card-header Account information
            .card-body 
               - if(accountAdmin.avatar)
                  img(
                     src=accountAdmin.avatar[0]
                     style="height: 100px; margin-bottom: 15px;"
                  )
               
               - if(accountAdmin.fullName)
                  p Full name: <b>#{accountAdmin.fullName}</b>

               - if(accountAdmin.email)
                  p Email: <b>#{accountAdmin.email}</b>

               - if(accountAdmin.phone)
                  p Phone number: <b>#{accountAdmin.phone}</b>

               - if(correspondRole.title)
                  p Role: <b>#{correspondRole.title}</b>

      .col-6
         .card.mb-4
            .card-header Product Category
            .card-body
               p Total: <b>#{statistics.productCategory.total}</b>
               p Active: <b>#{statistics.productCategory.active}</b>
               p Inactive: <b>#{statistics.productCategory.inactive}</b>

      .col-6
         .card.mb-4
            .card-header Product
            .card-body
               p Total: <b>#{statistics.product.total}</b>
               p Active: <b>#{statistics.product.active}</b>
               p Inactive: <b>#{statistics.product.inactive}</b>
      
      .col-6
         .card.mb-4
            .card-header All admin accounts
            .card-body
               p Total: <b>#{statistics.accountAdmin.total}</b>
               p Active: <b>#{statistics.accountAdmin.active}</b>
               p Inactive: <b>#{statistics.accountAdmin.inactive}</b>
      
      .col-6
         .card.mb-4
            .card-header All client accounts
            .card-body
               p Total: <b>#{statistics.user.total}</b>
               p Active: <b>#{statistics.user.active}</b>
               p Inactive: <b>#{statistics.user.inactive}</b>