.sider
   .inner-menu 
      ul 
         li 
            a(href=`/${prefixAdmin}/dashboard`) Dashboard
         
         
         - if(correspondRole.permissions.includes("products_view"))
            li 
               a(href=`/${prefixAdmin}/products`) Products list
         - else
            li
               a(class="element-disabled") Products list
         

         - if(correspondRole.permissions.includes("product-categories_view"))
            li
               a(href=`/${prefixAdmin}/product-categories`) Product categories list
         - else
            li
               a(class="element-disabled") Product categories list
         

         - if(correspondRole.permissions.includes("roles_view"))
            li 
               a(href=`/${prefixAdmin}/roles`) Roles
         - else 
            li
               a(class="element-disabled") Roles


         - if(correspondRole.permissions.includes("roles_permissions"))
            li 
               a(href=`/${prefixAdmin}/roles/permissions`) Permissions
         - else 
            li
               a(class="element-disabled") Permissions
         

         - if(correspondRole.permissions.includes("accounts_view"))
            li 
               a(href=`/${prefixAdmin}/accounts`) Admin accounts
         - else
            li
               a(class="element-disabled") Admin accounts

         li
            a(href=`/${prefixAdmin}/settings/general`) General settings